.btn-nav {
  transition: all 0.2s ease;
}

.btn-nav:hover:not(.active) {
  background-color: var(--color-primary-subtle);
  color: var(--color-primary) !important;
}

.btn-nav:hover:not(.active) .nav-badge {
  background-color: #fff !important;
}

.nav-badge {
  transition: all 0.2s ease;
}

.btn-nav.active .nav-badge {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}