<!-- src/app/pages/auth-user/connexion/connexion.html -->

<app-auth-user>

  <div class="auth-content">

    <!-- En-tête -->
    <div class="auth-header">

      <h1 class="bk-auth-title">
        {{ prefs.t().welcomeBack }}
      </h1>

      <p class="bk-auth-subtitle">
        {{ prefs.t().loginSubtitle }}
      </p>

    </div>


    <!-- Erreur -->
    @if (loginError) {

      <div class="bk-auth-error">

        <span class="material-icons">
          error_outline
        </span>

        {{ loginError }}

      </div>

    }


    <!-- Formulaire -->
    <form
      (ngSubmit)="soumettre($event)"
      [formGroup]="connectionForm"
      novalidate>

      <div class="bk-form-group">

        <label for="email" class="bk-form-label">
          {{ prefs.t().email }}
        </label>

        <div class="input-group bk-input-group">

          <span class="input-group-text bk-input-icon">
            <span class="material-icons fs-6">
              email
            </span>
          </span>

          <input
            type="email"
            id="email"
            class="form-control bk-input"
            placeholder="exemple@email.com"
            formControlName="email"
            autocomplete="email">

        </div>


        @if (email.touched && email.hasError('required')) {

          <div class="bk-field-error">

            <span class="material-icons">
              error_outline
            </span>

            {{ prefs.t().emailRequired }}

          </div>

        }


        @if (email.touched && email.hasError('email')) {

          <div class="bk-field-error">

            <span class="material-icons">
              error_outline
            </span>

            {{ prefs.t().invalidEmail }}

          </div>

        }

      </div>


      <div class="bk-form-group">

        <div class="bk-password-header">

          <label for="password" class="bk-form-label">
            {{ prefs.t().password }}
          </label>

          <a
            routerLink="/mot-de-passe-oublie"
            class="bk-auth-link bk-forgot-link">

            {{ prefs.t().forgotPassword }}

          </a>

        </div>


        <div class="input-group bk-input-group">

          <span class="input-group-text bk-input-icon">

            <span class="material-icons fs-6">
              lock
            </span>

          </span>

          <input
            type="password"
            id="password"
            class="form-control bk-input"
            [placeholder]="prefs.t().yourPassword"
            formControlName="password"
            autocomplete="current-password">

        </div>


        @if (password.touched && password.hasError('required')) {

          <div class="bk-field-error">

            <span class="material-icons">
              error_outline
            </span>

            {{ prefs.t().passwordRequired }}

          </div>

        }

      </div>


      <div class="bk-form-options">

        <div class="form-check bk-check">

          <input
            class="form-check-input bk-check-input"
            type="checkbox"
            id="rememberMe">

          <label
            class="form-check-label bk-check-label"
            for="rememberMe">

            {{ prefs.t().rememberMe }}

          </label>

        </div>

      </div>


      <button
        type="submit"
        class="btn bk-btn-submit w-100"
        [disabled]="connectionForm.invalid || isLoading">

        @if (isLoading) {

          <span class="bk-spinner"></span>

          <span>
            {{ prefs.t().loggingIn }}
          </span>

        } @else {

          <span>
            {{ prefs.t().login }}
          </span>

          <span class="material-icons">
            arrow_forward
          </span>

        }

      </button>


      <p class="text-center bk-auth-footer">

        {{ prefs.t().noAccount }}

        <a
          routerLink="/inscription"
          class="bk-auth-link">

          {{ prefs.t().createAccount }}

        </a>

      </p>

    </form>

  </div>

</app-auth-user>