.layout {
  display: flex;
  height: 100vh;
  
}

.layout main {
  flex: 1;
  min-width: 0;      /* évite que le contenu déborde et casse le flex */
  overflow-y: auto;   /* le scroll se fait dans main, pas sur toute la page */
}